* {
	box-sizing: border-box;
	color: #000000f7;
	font-family: roboto;
	letter-spacing: 2px;
}
body {
	background-color: #fffffffc;
	/*! background-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,1)) ; */
}
.side {
	width: 25%;
	float: left;
	height: 100vh;
	text-align: right;
	padding-top: 20px;
}
a.about-me, a.contact-me {
	color: #000000d9;
	font-size: 1.2em;
	border-right: solid 1px #1515152b;
	padding-right: 4px;
	background-color: #d0d0f43b;
	display: inline-block;
	width: 123.767px;
	text-align: right;
}
.side li {
	list-style-type: none;
}
a.about-me:hover, a.contact-me:hover {
	cursor: pointer;
	color: black;
}
.logo {
	margin-top: 20px;
	border-bottom: 0.5px solid #fff3;
	text-align: left;
	font-size: 3em;
	padding-left: 20px;
}
.logo a:link {
	text-decoration: none;
}
.image {
	display: block;
	margin-right: 300px;
	margin-left: 410px;
	margin-top: 50px;
	max-width: 200px;
	max-height: 200px;
	opacity: 0.8;
	border :solid 1px #565656;

}
.name2 {
	font-size: 30px;
	font-family: roboto;
	text-align: center;
	font-weight: 390;
	letter-spacing: 3px;
	color: #fffffff7;
	margin-top: 30px;
}
.para {
	font-size: 20px;
	font-family: roboto;
	text-align: left;
	font-weight: 390;
	letter-spacing: 3px;
	color: #fffffff7;
	height: 100vh;
	width: 75%;
	float: right;
	padding-left: 20px;
}
.head p {
	display: block;
	padding-right: 200px;
	text-align: center;
}
.name, .profile, .link{
	display: inline-block;
	background-color: #ff0000ba;
	font-weight: 400;
	color: #fffffff7;
}
a.profile-drop {
	background-color: white;
	display: none;
	position: relative;
	z-index: 1;
	min-width: 227.133px; 
	color: black;
}
a.profile-drop:link, a.profile-drop:visited {
	text-decoration: none;
}
.profile:hover .profile-drop {
	display: block;
}
.instagram {
	background-image: linear-gradient(to bottom left, rgb(70.6,18.0,58.4),rgb(91.0,34.1,25.5));
	filter: brightness(250%);
}
.insta-drop a:link, .insta-drop a:visited, .github-drop a:link, .github-drop a:visited {
	text-decoration: none;
}
.instagram:hover .insta-drop {
	display: block;
}
.github {
	background-color: #302f2f;
}
.github, .instagram {
	font-weight: 400;
	display: inline-block;
	text-align: center;
	color: #fffffff7;
}
.github-drop, .insta-drop {
	display: none;
	background-color: white;
	position: relative;
	z-index:1;
}
.insta-drop {
	font-weight: bold;
}
.github:hover .github-drop {
	display: block;
}
.insider-info {
	font-size: 0.8em;
}
.list, .list a:link {
	text-decoration: none;
	list-style: none;
}